In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
def read_in_data(location, path):
    files = glob.glob(path + location + "_agg/*")
    df = pd.read_csv(files[0])
    filename = files[0].split("agg")[-1][1:-4]
    df["file"] = filename
    for file in files[1:]:
        new_df = pd.read_csv(file)
        filename = file.split("agg")[-1][1:-4]
        new_df["file"] = filename
        df = df.append(new_df)
    return df

In [3]:
path = "E:/Data/Monitor Data/" # The directory of wrist_agg, hip_agg, chest_agg, thigh_agg, and processed directories

df_wrist = read_in_data("wrist", path)
df_hip = read_in_data("hip", path)
df_chest = read_in_data("chest", path)
df_thigh = read_in_data("thigh", path)

groundtruth = pd.read_csv(path + "processed/groundtruth.csv")
groundtruth.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
df_wrist["file"].unique()

array(['AG_AM01WRT (2017-10-02)AGGREGATE',
       'AG_AM02WRT (2017-07-19)AGGREGATE',
       'AG_AM03WRT (2017-07-24)AGGREGATE',
       'AG_AM04WRT (2017-09-11)AGGREGATE',
       'AG_AM05WRT (2017-09-19)AGGREGATE',
       'AG_AM06WRT (2017-07-28)AGGREGATE',
       'AG_AM07WRT (2017-07-31)AGGREGATE',
       'AG_AM08WRT (2017-08-01)AGGREGATE',
       'AG_AM09WRT (2017-08-08)AGGREGATE',
       'AG_AM10WRT (2017-08-10)AGGREGATE',
       'AG_AM11WRT (2017-08-30)AGGREGATE',
       'AG_AM12WRT (2017-09-13)AGGREGATE',
       'AG_AM13WRT (2017-09-18)AGGREGATE',
       'AG_AM14WRT (2017-09-19)AGGREGATE',
       'AG_AM15WRT (2017-10-09)AGGREGATE',
       'AG_AM16WRT (2017-10-06)AGGREGATE',
       'AG_AM17WRT (2017-10-23)AGGREGATE',
       'AG_AM18WRT (2017-11-01)AGGREGATE',
       'AG_AM19WRT (2017-11-06)AGGREGATE',
       'AG_AM20WRT (2017-11-27)AGGREGATE',
       'AG_AM21WRT (2018-01-11)AGGREGATE',
       'AG_AM22WRT (2018-01-19)AGGREGATE',
       'AG_AM24WRT (2018-02-02)AGGREGATE',
       'AG_AM25WRT (2018-02-14)AGGREGATE',
       'AG_AM26WRT (2018-02-21)AGGREGATE',
       'AG_AM27WRT (2018-05-17)AGGREGATE'], dtype=object)

In [5]:
groundtruth.iloc[267782]

time                                                 1/20/2018 21:27
id                                                              AM22
coding                                                 non-sedentary
primary_behavior                   EAT- eating and drinking, waiting
primary_posture                                            LA- stand
primary_upperbody                                                 no
primary_intensity                                              light
secondary_behavior                         HA- food prep and cleanup
secondary_posture        LA- stand and move with upper body movement
secondary_upperbody                                          unknown
secondary_intensity                                            light
num_postures                                                       2
transition                                                         1
actual_time                                                 13:27:21
posture_coding                                             LA- stand
type                                                            L-22
start.time                                           1/20/2018 13:27
broad_activity                                             sit/stand
detailed_activity                                        stand still
walking_running_bouts                                            NaN
updated_activity                                         stand still
act_type                                                      PC-gen
act_type_broad                                                    HA
Name: 267782, dtype: object

In [6]:
groundtruth.iloc[60000]

time                                                      10/27/2017 16:41
id                                                                    AM17
coding                                                           sedentary
primary_behavior         WRK- screen basedentary - Education and Health...
primary_posture                                                 SB-sitting
primary_upperbody                                                   typing
primary_intensity                                                sedentary
secondary_behavior                                                    None
secondary_posture                                                     None
secondary_upperbody                                                   None
secondary_intensity                                                   None
num_postures                                                             1
transition                                                               0
actual_time                                                        9:41:58
posture_coding                                                  SB-sitting
type                                                                  W-17
start.time                                                 10/27/2017 9:41
broad_activity                                                   sit/stand
detailed_activity                                                  sit/lie
walking_running_bouts                                                  NaN
updated_activity                                                   sit/lie
act_type                                                        WRK-screen
act_type_broad                                                         WRK
Name: 60000, dtype: object

In [7]:
df_wrist.iloc[0]

Accelerometer X                            0.250950
Accelerometer Y                            0.920588
Accelerometer Z                           -0.327150
actual_datetime                 2017-10-02 10:15:00
file               AG_AM01WRT (2017-10-02)AGGREGATE
Name: 0, dtype: object

In [8]:
df_chest.rename(columns = {"Accel X (g)": "Accelerometer X", 
                           "Accel Y (g)": "Accelerometer Y", 
                           "Accel Z (g)": "Accelerometer Z"}, inplace=True)
df_thigh.rename(columns = {"Accel X (g)": "Accelerometer X", 
                           "Accel Y (g)": "Accelerometer Y", 
                           "Accel Z (g)": "Accelerometer Z"}, inplace=True)

In [9]:
display(df_wrist.head())
display(df_hip.head())
display(df_chest.head())
display(df_thigh.head())

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,file
0,0.250950,0.920588,-0.327150,2017-10-02 10:15:00,AG_AM01WRT (2017-10-02)AGGREGATE
1,0.251600,0.918650,-0.331750,2017-10-02 10:15:01,AG_AM01WRT (2017-10-02)AGGREGATE
2,0.225587,0.912912,-0.381100,2017-10-02 10:15:02,AG_AM01WRT (2017-10-02)AGGREGATE
3,-0.042237,0.976525,-0.147313,2017-10-02 10:15:03,AG_AM01WRT (2017-10-02)AGGREGATE
4,-0.287288,0.895525,-0.421950,2017-10-02 10:15:04,AG_AM01WRT (2017-10-02)AGGREGATE

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,file
0,0.997425,0.060925,0.021625,2017-07-14 12:00:00,AG_AM01HIP (2017-07-14)AGGREGATE
1,0.989325,0.038488,0.020925,2017-07-14 12:00:01,AG_AM01HIP (2017-07-14)AGGREGATE
2,1.005025,0.038062,0.021825,2017-07-14 12:00:02,AG_AM01HIP (2017-07-14)AGGREGATE
3,1.018075,0.033537,0.011112,2017-07-14 12:00:03,AG_AM01HIP (2017-07-14)AGGREGATE
4,0.938700,0.018762,-0.210088,2017-07-14 12:00:04,AG_AM01HIP (2017-07-14)AGGREGATE

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,file
0,0.164829,0.777332,0.606116,2017-10-04 01:44:01,AM_01re_DO1_medial_chest_accel_AGGREGATE
1,0.003883,0.878392,0.485887,2017-10-04 01:44:02,AM_01re_DO1_medial_chest_accel_AGGREGATE
2,0.045277,0.851410,0.530652,2017-10-04 01:44:03,AM_01re_DO1_medial_chest_accel_AGGREGATE
3,0.081458,0.830555,0.566722,2017-10-04 01:44:04,AM_01re_DO1_medial_chest_accel_AGGREGATE
4,0.145471,0.826082,0.547947,2017-10-04 01:44:05,AM_01re_DO1_medial_chest_accel_AGGREGATE

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,file
0,-0.896285,-0.120678,-0.398814,2017-10-04 01:43:57,AM_01re_DO1_anterior_thigh_left_accel_AGGREGATE
1,-0.915470,-0.194189,-0.301329,2017-10-04 01:43:58,AM_01re_DO1_anterior_thigh_left_accel_AGGREGATE
2,-0.927489,-0.191527,-0.287626,2017-10-04 01:43:59,AM_01re_DO1_anterior_thigh_left_accel_AGGREGATE
3,-0.924811,-0.199576,-0.285657,2017-10-04 01:44:00,AM_01re_DO1_anterior_thigh_left_accel_AGGREGATE
4,-0.923456,-0.231488,-0.265479,2017-10-04 01:44:01,AM_01re_DO1_anterior_thigh_left_accel_AGGREGATE

In [10]:
print(len(df_wrist))
print(len(df_hip))
print(len(df_chest))
print(len(df_thigh))

15795431
16777678
524525
521887

In [11]:
print(len(groundtruth))

341101

In [12]:
dt_vars = ["time", "actual_time", "start.time"]
for var in dt_vars:
    groundtruth[var] = pd.to_datetime(groundtruth[var])

In [13]:
# The time and actual_time variables give conflicting accounts of the time
display(groundtruth["time"].iloc[45:50].dt.time)
display(groundtruth["actual_time"].iloc[45:50].dt.time)

45    18:30:00
46    18:30:00
47    18:31:00
48    18:31:00
49    18:31:00
Name: time, dtype: object

45    11:30:58
46    11:30:59
47    11:31:00
48    11:31:01
49    11:31:02
Name: actual_time, dtype: object

In [14]:
groundtruth["time"] = groundtruth["time"] + pd.to_timedelta(groundtruth["actual_time"].dt.second, unit="s")
groundtruth["time"].head()

0   2017-08-02 18:30:13
1   2017-08-02 18:30:14
2   2017-08-02 18:30:15
3   2017-08-02 18:30:16
4   2017-08-02 18:30:17
Name: time, dtype: datetime64[ns]

In [15]:
groundtruth.dtypes

time                     datetime64[ns]
id                               object
coding                           object
primary_behavior                 object
primary_posture                  object
primary_upperbody                object
primary_intensity                object
secondary_behavior               object
secondary_posture                object
secondary_upperbody              object
secondary_intensity              object
num_postures                      int64
transition                        int64
actual_time              datetime64[ns]
posture_coding                   object
type                             object
start.time               datetime64[ns]
broad_activity                   object
detailed_activity                object
walking_running_bouts            object
updated_activity                 object
act_type                         object
act_type_broad                   object
dtype: object

In [16]:
kept_merge_variables = ["time", "primary_behavior", "primary_posture", "primary_upperbody", 
                        "primary_intensity", "secondary_behavior", "secondary_posture", "secondary_upperbody", 
                        "secondary_intensity", "num_postures", "transition", "actual_time", "type", "start_time",
                        "broad_activity", "detailed_activity", "updated_activity", "act_type", "act_type_broad"]

dropped_merge_variables = ["id", # Unnecessary
                           "coding", # Duplicates primary_intensity
                           "posture_coding", # Duplicates primary_posture
                           "walking_running_bouts" # NaNs
                          ]

In [17]:
groundtruth.drop(dropped_merge_variables, axis=1, inplace=True)

In [18]:
df_wrist["actual_datetime"] = pd.to_datetime(df_wrist["actual_datetime"])
df_hip["actual_datetime"] = pd.to_datetime(df_hip["actual_datetime"])
df_chest["actual_datetime"] = pd.to_datetime(df_chest["actual_datetime"])
df_thigh["actual_datetime"] = pd.to_datetime(df_thigh["actual_datetime"])

In [19]:
dfs = [df_wrist, df_hip, df_chest, df_thigh]
locations = ["Wrist", "Hip", "Chest", "Thigh"]
for i in range(len(dfs)):
    print(locations[i] + ":")
    display(dfs[i][dfs[i]["actual_datetime"].dt.month == 10]["actual_datetime"].dt.date.unique())

Wrist:

array([datetime.date(2017, 10, 2), datetime.date(2017, 10, 3),
       datetime.date(2017, 10, 4), datetime.date(2017, 10, 5),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 10, 8), datetime.date(2017, 10, 9),
       datetime.date(2017, 10, 10), datetime.date(2017, 10, 11),
       datetime.date(2017, 10, 12), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 15),
       datetime.date(2017, 10, 16), datetime.date(2017, 10, 23),
       datetime.date(2017, 10, 24), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 26), datetime.date(2017, 10, 27),
       datetime.date(2017, 10, 28), datetime.date(2017, 10, 29),
       datetime.date(2017, 10, 30)], dtype=object)

Hip:

array([datetime.date(2017, 10, 2), datetime.date(2017, 10, 3),
       datetime.date(2017, 10, 4), datetime.date(2017, 10, 5),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 10, 8), datetime.date(2017, 10, 9),
       datetime.date(2017, 10, 10), datetime.date(2017, 10, 11),
       datetime.date(2017, 10, 12), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 15),
       datetime.date(2017, 10, 16), datetime.date(2017, 10, 23),
       datetime.date(2017, 10, 24), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 26), datetime.date(2017, 10, 27),
       datetime.date(2017, 10, 28), datetime.date(2017, 10, 29),
       datetime.date(2017, 10, 30)], dtype=object)

Chest:

array([datetime.date(2017, 10, 4), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 8),
       datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 27)], dtype=object)

Thigh:

array([datetime.date(2017, 10, 4), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 8),
       datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 27)], dtype=object)

In [20]:
groundtruth["time"].dt.date.unique()

array([datetime.date(2017, 8, 2), datetime.date(2017, 10, 11),
       datetime.date(2018, 2, 8), datetime.date(2017, 10, 25),
       datetime.date(2017, 9, 21), datetime.date(2017, 10, 8),
       datetime.date(2017, 8, 1), datetime.date(2017, 10, 27),
       datetime.date(2018, 5, 18), datetime.date(2018, 1, 20),
       datetime.date(2018, 2, 24), datetime.date(2018, 2, 25),
       datetime.date(2017, 11, 4), datetime.date(2017, 11, 5),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 12, 2), datetime.date(2017, 9, 20),
       datetime.date(2017, 11, 9), datetime.date(2017, 9, 2),
       datetime.date(2017, 10, 4), datetime.date(2018, 5, 19),
       datetime.date(2017, 9, 23), datetime.date(2017, 7, 27),
       datetime.date(2017, 7, 25), datetime.date(2018, 2, 17),
       datetime.date(2018, 1, 17), datetime.date(2017, 7, 24),
       datetime.date(2018, 2, 6), datetime.date(2017, 9, 17),
       datetime.date(2017, 8, 3), datetime.date(2017, 9, 12),
       datetime.date(2017, 12, 3), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 9, 19),
       datetime.date(2017, 8, 16), datetime.date(2017, 7, 31),
       datetime.date(2017, 8, 10), datetime.date(2017, 8, 11)],
      dtype=object)

In [21]:
# Groundtruth unique dates in October
display(groundtruth[groundtruth["time"].dt.month == 10]["time"].dt.date.unique())

array([datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 8), datetime.date(2017, 10, 27),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 10, 4), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14)], dtype=object)

In [22]:
wrist_hip = []#df_wrist, df_hip]  # add these when the dfs are filtered for time
chest_thigh = [df_chest, df_thigh]

all_dfs = wrist_hip + chest_thigh

In [23]:
new_dfs = []
for df in all_dfs:
    df.drop("file", axis=1, inplace=True)
    new_dfs.append(df.merge(groundtruth, how = "inner", left_on = "actual_datetime", right_on = "time"))

In [24]:
# df_wrist = new_dfs[0]
# df_hip = new_dfs[1]
# df_chest = new_dfs[2]
# df_thigh = new_dfs[3]

df_chest = new_dfs[0]
df_thigh = new_dfs[1]

In [25]:
df_chest.head()

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,time,primary_behavior,primary_posture,primary_upperbody,primary_intensity,secondary_behavior,...,num_postures,transition,actual_time,type,start.time,broad_activity,detailed_activity,updated_activity,act_type,act_type_broad
0,0.067628,0.870894,0.493904,2017-10-04 01:44:45,2017-10-04 01:44:45,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:45,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
1,0.010120,0.876218,0.485257,2017-10-04 01:44:46,2017-10-04 01:44:46,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:46,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
2,0.027951,0.922685,0.398483,2017-10-04 01:44:47,2017-10-04 01:44:47,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:47,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
3,0.026076,0.905878,0.429324,2017-10-04 01:44:48,2017-10-04 01:44:48,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:48,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
4,0.061737,0.872926,0.485052,2017-10-04 01:44:49,2017-10-04 01:44:49,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:49,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES

In [26]:
df_thigh.head()

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,time,primary_behavior,primary_posture,primary_upperbody,primary_intensity,secondary_behavior,...,num_postures,transition,actual_time,type,start.time,broad_activity,detailed_activity,updated_activity,act_type,act_type_broad
0,-0.920621,-0.155646,-0.318593,2017-10-04 01:44:45,2017-10-04 01:44:45,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:45,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
1,-0.928607,-0.150999,-0.310559,2017-10-04 01:44:46,2017-10-04 01:44:46,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:46,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
2,-0.962693,-0.028313,-0.205231,2017-10-04 01:44:47,2017-10-04 01:44:47,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:47,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
3,-0.967954,-0.025304,-0.199450,2017-10-04 01:44:48,2017-10-04 01:44:48,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:48,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES
4,-0.953352,-0.088372,-0.257887,2017-10-04 01:44:49,2017-10-04 01:44:49,"LES- socializing, communicating, leisure time ...",LA- stand,no,light,None,...,1,0,2021-04-11 18:44:49,L-1,2017-10-03 18:44:00,sit/stand,stand still,stand still,LES-gen,LES

In [27]:
groundtruth["updated_activity"].unique()

array(['sit/lie', 'stand still', 'mixed-activity', 'walking', 'vehicle',
       'running', 'bicycling'], dtype=object)

In [28]:
print(len(df_chest))
print(len(df_thigh))

353710
351279

In [29]:
df_chest.dtypes

Accelerometer X               float64
Accelerometer Y               float64
Accelerometer Z               float64
actual_datetime        datetime64[ns]
time                   datetime64[ns]
primary_behavior               object
primary_posture                object
primary_upperbody              object
primary_intensity              object
secondary_behavior             object
secondary_posture              object
secondary_upperbody            object
secondary_intensity            object
num_postures                    int64
transition                      int64
actual_time            datetime64[ns]
type                           object
start.time             datetime64[ns]
broad_activity                 object
detailed_activity              object
updated_activity               object
act_type                       object
act_type_broad                 object
dtype: object

In [30]:
response_activity = "broad_activity"

categorical_variables = ["primary_behavior", "primary_posture", "primary_upperbody", "primary_intensity", 
                         "secondary_behavior", "secondary_posture", "secondary_upperbody", "secondary_intensity",
                         "type", "broad_activity", "detailed_activity", "act_type", "act_type_broad"]

float_variables = ["Accelerometer X", "Accelerometer Y", "Accelerometer Z"]

int_variables = ["num_postures", "transition"]

datetime_variables = ["actual_datetime", "time", "actual_time", "start.time"]

In [31]:
df_chest[float_variables + int_variables].describe()

,Accelerometer X,Accelerometer Y,Accelerometer Z,num_postures,transition
count,353710.000000,353710.000000,353710.000000,353710.000000,353710.000000
mean,0.035532,0.825666,0.324303,1.024642,0.024619
std,0.149071,0.227845,0.389453,0.155268,0.154961
min,-1.165490,-0.341416,-1.324940,1.000000,0.000000
25%,-0.042127,0.791177,0.131676,1.000000,0.000000
50%,0.034582,0.915029,0.352631,1.000000,0.000000
75%,0.122301,0.968851,0.570392,1.000000,0.000000
max,0.967276,1.368665,1.040457,3.000000,1.000000

In [32]:
from sklearn.feature_selection import SelectKBest, f_classif

#dropped_vars = [response_activity] + datetime_variables + categorical_variables + int_variables

X = df_chest[float_variables]
y = df_chest[response_activity]

best_features = SelectKBest(f_classif, k="all").fit(X,y)

In [33]:
features_results = pd.Series(best_features.scores_)
features_results.index = float_variables
features_results

Accelerometer X     660.982425
Accelerometer Y    3279.608722
Accelerometer Z    9561.485042
dtype: float64

In [34]:
activity_vars = ["primary_behavior", "primary_posture", "primary_upperbody", "primary_intensity", 
                 "secondary_behavior", "secondary_posture", "secondary_upperbody", "secondary_intensity",
                 "num_postures", "transition", "type", "broad_activity", "detailed_activity", "act_type", "act_type_broad"]

X_vars = ["Accelerometer X", "Accelerometer Y", "Accelerometer Z", "time"]
y_var = "broad_activity"

In [35]:
def cv_split(X, y, num_splits=4):
    n = len(X)
    X_trains, X_tests, y_trains, y_tests = [], [], [], []
    
    for i in range(num_splits):
        current_range = list(range(n*i//num_splits, n*(i+1)//num_splits))
        
        X_train = X.drop(current_range, axis=0)
        X_test = X.iloc[current_range]
        y_train = y.drop(current_range)
        y_test = y.iloc[current_range]
        
        X_trains.append(X_train)
        X_tests.append(X_test)
        y_trains.append(y_train)
        y_tests.append(y_test)
        
    return (X_trains, X_tests, y_trains, y_tests)

In [36]:
train_test_dict = {}

dfs = [#df_wrist, df_hip, 
       df_chest, df_thigh]

bodyparts = [#"wrist", "hip",
             "chest", "thigh"]

for i in range(len(dfs)):
    df = dfs[i]
    bodypart = bodyparts[i]
    
    X = df[X_vars]
    y = df[y_var]
    
    X_trains, X_tests, y_trains, y_tests = cv_split(X, y)
    
    train_test_dict[bodypart] = {}
    
    train_test_dict[bodypart]["X_trains"] = X_trains
    train_test_dict[bodypart]["X_tests"] = X_tests
    train_test_dict[bodypart]["y_trains"] = y_trains
    train_test_dict[bodypart]["y_tests"] = y_tests

In [37]:
print(len(df_chest))
print(len(df_thigh))

353710
351279

In [38]:
display(train_test_dict["chest"]["X_trains"][0].head())
display(train_test_dict["chest"]["X_tests"][0].head())
display(train_test_dict["chest"]["y_trains"][0].head())
display(train_test_dict["chest"]["y_tests"][0].head())

       Accelerometer X  Accelerometer Y  Accelerometer Z                time
88427        -0.179619         0.986887         0.113732 2017-08-02 19:59:40
88428        -0.164073         0.989076         0.097650 2017-08-02 19:59:41
88429        -0.124584         0.990998         0.135610 2017-08-02 19:59:42
88430        -0.002103         0.997960         0.134051 2017-08-02 19:59:43
88431         0.042394         0.995566         0.143470 2017-08-02 19:59:44

   Accelerometer X  Accelerometer Y  Accelerometer Z                time
0         0.067628         0.870894         0.493904 2017-10-04 01:44:45
1         0.010120         0.876218         0.485257 2017-10-04 01:44:46
2         0.027951         0.922685         0.398483 2017-10-04 01:44:47
3         0.026076         0.905878         0.429324 2017-10-04 01:44:48
4         0.061737         0.872926         0.485052 2017-10-04 01:44:49

88427    sit/stand
88428    sit/stand
88429    sit/stand
88430    sit/stand
88431    sit/stand
Name: broad_activity, dtype: object

0    sit/stand
1    sit/stand
2    sit/stand
3    sit/stand
4    sit/stand
Name: broad_activity, dtype: object

In [39]:
display(train_test_dict["thigh"]["X_trains"][2].head())
display(train_test_dict["thigh"]["X_tests"][2].head())
display(train_test_dict["thigh"]["y_trains"][2].head())
display(train_test_dict["thigh"]["y_tests"][2].head())

   Accelerometer X  Accelerometer Y  Accelerometer Z                time
0        -0.920621        -0.155646        -0.318593 2017-10-04 01:44:45
1        -0.928607        -0.150999        -0.310559 2017-10-04 01:44:46
2        -0.962693        -0.028313        -0.205231 2017-10-04 01:44:47
3        -0.967954        -0.025304        -0.199450 2017-10-04 01:44:48
4        -0.953352        -0.088372        -0.257887 2017-10-04 01:44:49

        Accelerometer X  Accelerometer Y  Accelerometer Z                time
175639        -0.090578         0.065754         1.009694 2017-10-13 18:09:55
175640        -0.110487         0.066195         1.004670 2017-10-13 18:09:56
175641        -0.033857         0.060414         1.013868 2017-10-13 18:09:57
175642        -0.068053         0.047057         1.010435 2017-10-13 18:09:58
175643        -0.056445         0.052570         1.006355 2017-10-13 18:09:59

0    sit/stand
1    sit/stand
2    sit/stand
3    sit/stand
4    sit/stand
Name: broad_activity, dtype: object

175639    sit/stand
175640    sit/stand
175641    sit/stand
175642    sit/stand
175643    sit/stand
Name: broad_activity, dtype: object

In [40]:
# Created a function to split with cross-validation in mind
# Since time is a variable, I did not randomly assign indexes to train and test, but rather grouped them together

In [41]:
# Any other explanatory features we should use besides the 4 above? All the others seem too closely related to activity
# Are we going to try using different response variables? There are so many activity variables we could try several

In [42]:
from hmmlearn import hmm

In [43]:
X.drop("time", axis=1)

        Accelerometer X  Accelerometer Y  Accelerometer Z
0             -0.920621        -0.155646        -0.318593
1             -0.928607        -0.150999        -0.310559
2             -0.962693        -0.028313        -0.205231
3             -0.967954        -0.025304        -0.199450
4             -0.953352        -0.088372        -0.257887
...                 ...              ...              ...
351274        -0.060729         0.297250         0.977845
351275        -0.060036         0.297439         0.978145
351276        -0.058587         0.296746         0.977751
351277        -0.059548         0.297391         0.978003
351278        -0.058603         0.297486         0.979751

[351279 rows x 3 columns]

In [44]:
# First runthrough

#time will have to be made into int or float variable
X = df_chest[X_vars].drop("time", axis=1)
y = df_chest[y_var]
states = list(y.unique())

hm_model = hmm.GaussianHMM(n_components = len(states))


hm_model.fit(X)
predictions = hm_model.predict(X)

In [45]:
states

['sit/stand', 'mixed-activity', 'walking', 'vehicle', 'bicycling']

In [46]:
def print_highest_accuracy(pred, y):
    num_list = []
    for state in y.unique():
        subset = y[y == state]
        indexes = list(subset.index)
        
        numbers = pred.iloc[indexes].value_counts().sort_index()

        print("State:", state)
        print(pd.Series(numbers))
        print("\n")
        
        num_list.append(list(numbers))

    return highest_accuracy(num_list)

#With n as number of states:
# O(n!) -- incredibly inefficient
def highest_accuracy(numbers):
    n = len(numbers)
    
#     highest_count, best_sequence = correct_count(numbers, [], 0)
    highest_count, best_sequence = lazy_correct_count(numbers)
    
    return highest_count, best_sequence
    
# def correct_count(numbers, illegal_nums, count):
#     n = len(numbers)
#     results = {}
    
#     #state
#     for i in range(n):
#         if i not in illegal_nums:
#         #numbers
#             for j in range(n):
#                 print(i, j)
#                 count += numbers[i][j]
#                 print(count)
#                 illegal_nums.append(i)

#                 if len(illegal_nums) == n:
#                     sequence = ""
#                     for number in illegal_nums:
#                         sequence = sequence + str(number)
#                     results[sequence] = count
#                 else:
#                     correct_count(numbers, illegal_nums, count)
#     return results

def lazy_correct_count(numbers):
    results = {}
    n = len(numbers)
    
    for a in range(n):
        a_count = numbers[0][a]
        
        for b in range(n):
            if b == a:
                continue
                
            b_count = a_count + numbers[1][b]
            
            for c in range(n):
                if c in [a,b]:
                    continue
                    
                c_count = b_count + numbers[2][c]
                
                for d in range(n):
                    if d in [a,b,c]:
                        continue
                        
                    d_count = c_count + numbers[3][d]
                                        
                    for e in range(n):
                        if e in [a,b,c,d]:
                            continue
                            
                        #1 and 4 never appear for biking
                        if e == 0:
                            e_count = d_count + numbers[4][e]
                        elif e in [2,3]:
                            e_count = d_count + numbers[4][e-1]
                        elif e in [1,4]:
                            e_count = d_count

                        results[e_count] = [a,b,c,d,e]
    
    highest_count = max(results.keys())
    best_sequence = results[highest_count]
    return highest_count, best_sequence

In [47]:
highest_count, best_sequence = print_highest_accuracy(pd.Series(predictions), y)
best_sequence

State: sit/stand
0    58723
1    58995
2    58663
3     9491
4    66266
dtype: int64


State: mixed-activity
0     5472
1      474
2     7306
3     4537
4    10906
dtype: int64


State: walking
0    13165
1      667
2    13277
3     1299
4    25998
dtype: int64


State: vehicle
0     291
1    1553
2    5487
3       6
4    4960
dtype: int64


State: bicycling
0    4397
3    1729
4      48
dtype: int64

[1, 3, 4, 2, 0]

In [48]:
def assign_hidden_states(val, states, results):
    for i in range(len(states)):
        if val == results[i]:
            return states[i]

y_pred = pd.Series(predictions).apply(lambda x: assign_hidden_states(x, states, best_sequence))

In [49]:
correct = y_pred == y
print("Accuracy: " + str(sum(correct)/len(y)*100) + "%")

Accuracy: 28.10607559865426%

In [50]:
sum(correct) == highest_count

True

In [51]:
display(y.value_counts())
display(y[correct].value_counts())

sit/stand         252138
walking            54406
mixed-activity     28695
vehicle            12297
bicycling           6174
Name: broad_activity, dtype: int64

sit/stand         58995
walking           25998
vehicle            5487
mixed-activity     4537
bicycling          4397
Name: broad_activity, dtype: int64