In [1]:
import pandas as pd
import numpy as np
import glob
import datetime

In [2]:
def read_in_data(location, path):
    files = glob.glob(path + location + "_agg/*")
    df = pd.read_csv(files[0])
    filename = files[0].split("agg")[-1][1:-4]
    df["file"] = filename
    for file in files[1:]:
        new_df = pd.read_csv(file)
        filename = file.split("agg")[-1][1:-4]
        new_df["file"] = filename
        df = df.append(new_df)
    return df

In [3]:
path = "E:/Data/Monitor Data/" # The directory of wrist_agg, hip_agg, chest_agg, thigh_agg, and processed directories

df_wrist = read_in_data("wrist", path)
df_hip = read_in_data("hip", path)
df_chest = read_in_data("chest", path)
df_thigh = read_in_data("thigh", path)

groundtruth = pd.read_csv(path + "processed/groundtruth.csv")
groundtruth.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
DO_log_final_df = pd.read_csv(path + 'processed/DO_log_final.csv')

In [5]:
def datetime_filter(location, data, log):
#     log = log[log['type'] == location[0].upper()]
    
    log['date'] = pd.to_datetime(log[['start_day','start_month','start_year']]
                   .astype(str).apply(' '.join, 1), format='%d %m %Y').astype(str)
    log['start_time'] = pd.to_datetime(log['start_time'], format = '%H:%M:%S').apply(lambda x: x.time())
    log['stop_time'] = pd.to_datetime(log['stop_time'], format = '%H:%M:%S').apply(lambda x: x.time())
    
    data['actual_datetime'] = pd.to_datetime(data['actual_datetime'], format = '%Y-%m-%d %H:%M:%S')
    data['actual_date'] = data['actual_datetime'].apply(lambda x: x.date()).astype(str)
    data['actual_time'] = data['actual_datetime'].apply(lambda x: x.time())
    
    joined = pd.merge(data, log, how = 'left', left_on = 'actual_date', right_on = 'date')
    
    joined = joined[(joined['actual_time'] >= joined['start_time']) & 
                    (joined['actual_time'] <= joined['stop_time'])]
    
    return joined[['Accelerometer X', 'Accelerometer Y', 'Accelerometer Z', 'actual_datetime', 'file']]

In [6]:
df_hip = datetime_filter('hip', df_hip, DO_log_final_df)
df_wrist = datetime_filter('wrist', df_wrist, DO_log_final_df)

In [7]:
df_chest.rename(columns = {"Accel X (g)": "Accelerometer X", 
                           "Accel Y (g)": "Accelerometer Y", 
                           "Accel Z (g)": "Accelerometer Z"}, inplace=True)
df_thigh.rename(columns = {"Accel X (g)": "Accelerometer X", 
                           "Accel Y (g)": "Accelerometer Y", 
                           "Accel Z (g)": "Accelerometer Z"}, inplace=True)

In [8]:
dt_vars = ["time", "actual_time", "start.time"]
for var in dt_vars:
    groundtruth[var] = pd.to_datetime(groundtruth[var])

In [9]:
# The time and actual_time variables give conflicting accounts of the time
display(groundtruth["time"].iloc[45:50].dt.time)
display(groundtruth["actual_time"].iloc[45:50].dt.time)

45    18:30:00
46    18:30:00
47    18:31:00
48    18:31:00
49    18:31:00
Name: time, dtype: object

45    11:30:58
46    11:30:59
47    11:31:00
48    11:31:01
49    11:31:02
Name: actual_time, dtype: object

In [10]:
groundtruth["time"] = groundtruth["time"] + pd.to_timedelta(groundtruth["actual_time"].dt.second, unit="s")
groundtruth["time"].head()

0   2017-08-02 18:30:13
1   2017-08-02 18:30:14
2   2017-08-02 18:30:15
3   2017-08-02 18:30:16
4   2017-08-02 18:30:17
Name: time, dtype: datetime64[ns]

In [11]:
groundtruth.dtypes

time                     datetime64[ns]
id                               object
coding                           object
primary_behavior                 object
primary_posture                  object
primary_upperbody                object
primary_intensity                object
secondary_behavior               object
secondary_posture                object
secondary_upperbody              object
secondary_intensity              object
num_postures                      int64
transition                        int64
actual_time              datetime64[ns]
posture_coding                   object
type                             object
start.time               datetime64[ns]
broad_activity                   object
detailed_activity                object
walking_running_bouts            object
updated_activity                 object
act_type                         object
act_type_broad                   object
dtype: object

In [12]:
kept_merge_variables = ["id", "time", "primary_behavior", "primary_posture", "primary_upperbody", 
                        "primary_intensity", "secondary_behavior", "secondary_posture", "secondary_upperbody", 
                        "secondary_intensity", "num_postures", "transition", "actual_time", "type", "start_time",
                        "broad_activity", "detailed_activity", "updated_activity", "act_type", "act_type_broad"]

dropped_merge_variables = ["coding", # Duplicates primary_intensity
                           "posture_coding", # Duplicates primary_posture
                           "walking_running_bouts" # NaNs
                          ]

In [13]:
groundtruth.drop(dropped_merge_variables, axis=1, inplace=True)

In [14]:
df_wrist["actual_datetime"] = pd.to_datetime(df_wrist["actual_datetime"])
df_hip["actual_datetime"] = pd.to_datetime(df_hip["actual_datetime"])
df_chest["actual_datetime"] = pd.to_datetime(df_chest["actual_datetime"])
df_thigh["actual_datetime"] = pd.to_datetime(df_thigh["actual_datetime"])

In [15]:
dfs = [df_wrist, df_hip, df_chest, df_thigh]
locations = ["Wrist", "Hip", "Chest", "Thigh"]
for i in range(len(dfs)):
    print(locations[i] + ":")
    display(dfs[i][dfs[i]["actual_datetime"].dt.month == 10]["actual_datetime"].dt.date.unique())

Wrist:

array([datetime.date(2017, 10, 3), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 11),
       datetime.date(2017, 10, 13), datetime.date(2017, 10, 24),
       datetime.date(2017, 10, 27)], dtype=object)

Hip:

array([datetime.date(2017, 10, 3), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 11),
       datetime.date(2017, 10, 13), datetime.date(2017, 10, 24),
       datetime.date(2017, 10, 27)], dtype=object)

Chest:

array([datetime.date(2017, 10, 4), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 8),
       datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 27)], dtype=object)

Thigh:

array([datetime.date(2017, 10, 4), datetime.date(2017, 10, 6),
       datetime.date(2017, 10, 7), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 8),
       datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 27)], dtype=object)

In [16]:
DO_log_final_df

,id,obs,type,start_month,start_day,start_year,start_time,stop_time,duration,session,date
0,AM01,DO2,L,10,3,2017,18:44:45,20:47:00,2:02:15,1,2017-10-03
1,AM01,DO1,H,10,6,2017,16:43:57,18:45:00,2:01:03,2,2017-10-06
2,AM02,DO1,H,7,24,2017,13:17:10,15:17:32,2:00:22,1,2017-07-24
3,AM02,DO2_a,A,7,25,2017,08:00:27,08:52:32,0:52:05,2,2017-07-25
4,AM02,DO2_b,A,7,25,2017,08:56:13,10:12:29,1:16:16,3,2017-07-25
5,AM03,DO1,L,7,25,2017,14:00:10,16:00:23,2:00:13,1,2017-07-25
6,AM03,DO2,H,7,27,2017,13:01:29,15:00:39,1:59:10,2,2017-07-27
7,AM04,DO1,W,9,12,2017,12:02:56,14:04:00,2:01:04,1,2017-09-12
8,AM04,DO2,A,9,17,2017,14:15:58,16:16:00,2:00:02,2,2017-09-17
9,AM05,DO2,L,9,19,2017,19:38:53,21:40:00,2:01:07,1,2017-09-19
10,AM06,DO1,E,7,31,2017,08:35:23,10:36:03,2:00:40,1,2017-07-31
11,AM06,DO2,A,8,1,2017,08:09:22,10:10:03,2:00:41,2,2017-08-01
12,AM07,DO1,H,8,2,2017,09:01:18,11:01:27,2:00:09,1,2017-08-02
13,AM07,DO2,E,8,2,2017,11:30:08,13:30:19,2:00:11,2,2017-08-02
14,AM08,DO1_a,E,8,3,2017,09:08:47,10:24:09,1:15:22,1,2017-08-03
15,AM08,DO1_b,E,8,3,2017,10:26:00,11:10:52,0:44:52,2,2017-08-03
16,AM08,DO2,A,8,7,2017,09:30:17,11:30:47,2:00:30,3,2017-08-07
17,AM09,DO1,W,8,10,2017,13:26:00,15:08:44,1:42:44,1,2017-08-10
18,AM09,DO2,A,8,10,2017,16:18:04,18:18:36,2:00:32,2,2017-08-10
19,AM10,DO2,W,8,16,2017,11:19:55,12:38:05,1:18:10,1,2017-08-16
20,AM11,DO1_a,L,9,2,2017,12:13:10,13:02:10,0:49:00,1,2017-09-02
21,AM11,DO1_b,L,9,2,2017,13:05:00,14:11:32,1:06:32,2,2017-09-02
22,AM11,DO2,A,9,5,2017,09:11:00,11:02:41,1:51:41,3,2017-09-05
23,AM11,DO2,A,9,5,2017,11:03:00,11:13:21,0:10:21,4,2017-09-05
24,AM12,DO1,A,9,17,2017,11:15:00,13:15:00,2:00:00,1,2017-09-17
25,AM12,DO2_a,L,9,18,2017,18:57:56,20:13:06,1:15:10,2,2017-09-18
26,AM12,DO2_b,L,9,18,2017,20:14:00,21:01:26,0:47:26,3,2017-09-18
27,AM13,DO1,W,9,20,2017,10:36:59,12:38:00,2:01:01,1,2017-09-20
28,AM13,DO2,A,9,21,2017,11:29:00,13:29:00,2:00:00,2,2017-09-21
29,AM14,DO1,W,9,21,2017,14:19:03,16:27:00,2:07:57,1,2017-09-21
30,AM14,DO2,E,9,23,2017,09:13:01,11:14:00,2:00:59,2,2017-09-23
31,AM15,DO1,W,10,13,2017,09:49:59,11:50:00,2:00:01,1,2017-10-13
32,AM15,DO2_a,E,10,13,2017,15:51:58,17:27:00,1:35:02,2,2017-10-13
33,AM15,DO2_b,E,10,13,2017,17:28:00,17:49:30,0:21:30,3,2017-10-13
34,AM16,DO1,L,10,7,2017,17:45:49,19:47:00,2:01:11,1,2017-10-07
35,AM16,DO2,W,10,11,2017,07:53:59,10:02:00,2:08:01,2,2017-10-11
36,AM17,DO1,E,10,24,2017,18:30:18,20:31:44,2:01:26,1,2017-10-24
37,AM17,DO2,W,10,27,2017,09:08:01,11:08:00,1:59:59,2,2017-10-27
38,AM18,DO1,E,11,4,2017,14:58:56,17:00:54,2:01:58,1,2017-11-04
39,AM18,DO2,L,11,4,2017,17:05:53,19:07:00,2:01:07,2,2017-11-04
40,AM19,DO1,H,11,9,2017,11:33:03,13:34:00,2:00:57,1,2017-11-09
41,AM19,DO2,W,11,9,2017,13:36:43,15:37:00,2:00:17,2,2017-11-09
42,AM20,DO1,H,12,2,2017,11:03:00,13:05:00,2:02:00,1,2017-12-02
43,AM20,DO2,E,12,3,2017,09:38:52,10:42:00,1:03:08,2,2017-12-03
44,AM21,DO1,A,1,17,2018,08:27:00,10:07:51,1:40:51,1,2018-01-17
45,AM21,DO2,W,1,17,2018,12:10:09,14:14:00,2:03:51,2,2018-01-17
46,AM22,DO1,E,1,20,2018,11:05:00,13:06:00,2:01:00,1,2018-01-20
47,AM22,DO2,L,1,20,2018,13:16:57,15:18:00,2:01:03,2,2018-01-20
48,AM24,DO1,L,2,5,2018,17:05:00,19:06:00,2:01:00,1,2018-02-05
49,AM24,DO2,A,2,8,2018,12:08:00,14:08:00,2:00:00,2,2018-02-08
50,AM25,DO1,H,2,17,2018,09:12:00,11:12:08,2:00:08,1,2018-02-17
51,AM25,DO2,L,2,17,2018,11:21:57,13:22:00,2:00:03,2,2018-02-17
52,AM26,DO1,A,2,24,2018,13:07:00,15:13:02,2:06:02,1,2018-02-24
53,AM26,DO2,H,2,24,2018,15:28:00,17:08:06,1:40:06,2,2018-02-24
54,AM26,DO2,H,2,24,2018,17:13:00,17:29:03,0:16:03,3,2018-02-24
55,AM27,DO1,E,5,18,2018,14:43:00,16:43:01,2:00:01,1,2018-05-18
56,AM27,DO2,H,5,18,2018,17:15:00,19:15:04,2:00:04,2,2018-05-18

In [17]:
DO_log_final_df[DO_log_final_df['type'] == 'H'][['start_month', 'start_day', 'start_year']]

    start_month  start_day  start_year
1            10          6        2017
2             7         24        2017
6             7         27        2017
12            8          2        2017
40           11          9        2017
42           12          2        2017
50            2         17        2018
53            2         24        2018
54            2         24        2018
56            5         18        2018

In [18]:
groundtruth["time"].dt.date.unique()

array([datetime.date(2017, 8, 2), datetime.date(2017, 10, 11),
       datetime.date(2018, 2, 8), datetime.date(2017, 10, 25),
       datetime.date(2017, 9, 21), datetime.date(2017, 10, 8),
       datetime.date(2017, 8, 1), datetime.date(2017, 10, 27),
       datetime.date(2018, 5, 18), datetime.date(2018, 1, 20),
       datetime.date(2018, 2, 24), datetime.date(2018, 2, 25),
       datetime.date(2017, 11, 4), datetime.date(2017, 11, 5),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 12, 2), datetime.date(2017, 9, 20),
       datetime.date(2017, 11, 9), datetime.date(2017, 9, 2),
       datetime.date(2017, 10, 4), datetime.date(2018, 5, 19),
       datetime.date(2017, 9, 23), datetime.date(2017, 7, 27),
       datetime.date(2017, 7, 25), datetime.date(2018, 2, 17),
       datetime.date(2018, 1, 17), datetime.date(2017, 7, 24),
       datetime.date(2018, 2, 6), datetime.date(2017, 9, 17),
       datetime.date(2017, 8, 3), datetime.date(2017, 9, 12),
       datetime.date(2017, 12, 3), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 9, 19),
       datetime.date(2017, 8, 16), datetime.date(2017, 7, 31),
       datetime.date(2017, 8, 10), datetime.date(2017, 8, 11)],
      dtype=object)

In [19]:
# Groundtruth unique dates in October
display(groundtruth[groundtruth["time"].dt.month == 10]["time"].dt.date.unique())

array([datetime.date(2017, 10, 11), datetime.date(2017, 10, 25),
       datetime.date(2017, 10, 8), datetime.date(2017, 10, 27),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 10, 4), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14)], dtype=object)

In [20]:
locations = [#"wrist", "hip", 
             "chest", "thigh"]
all_dfs = [#df_wrist, df_hip, 
           df_chest, df_thigh]

In [21]:
df_wrist.merge(groundtruth, how="inner", left_on = "actual_datetime", right_on = "time")

,Accelerometer X,Accelerometer Y,Accelerometer Z,actual_datetime,file,time,id,primary_behavior,primary_posture,primary_upperbody,...,num_postures,transition,actual_time,type,start.time,broad_activity,detailed_activity,updated_activity,act_type,act_type_broad
0,0.246100,-0.488013,-0.874450,2017-07-25 15:00:27,AG_AM02WRT (2017-07-19)AGGREGATE,2017-07-25 15:00:27,AM02,EX- jogging,LA- stand and move,unknown,...,1,0,2021-05-11 08:00:27,A-2,2017-07-25 08:00:00,mixed-activity,walking light,mixed-activity,EX-run,EX
1,0.154950,0.105163,0.947400,2017-07-25 15:00:27,AG_AM03WRT (2017-07-24)AGGREGATE,2017-07-25 15:00:27,AM02,EX- jogging,LA- stand and move,unknown,...,1,0,2021-05-11 08:00:27,A-2,2017-07-25 08:00:00,mixed-activity,walking light,mixed-activity,EX-run,EX
2,0.245900,-0.488425,-0.874550,2017-07-25 15:00:28,AG_AM02WRT (2017-07-19)AGGREGATE,2017-07-25 15:00:28,AM02,EX- jogging,LA- stand and move,unknown,...,1,0,2021-05-11 08:00:28,A-2,2017-07-25 08:00:00,mixed-activity,walking light,mixed-activity,EX-run,EX
3,0.157750,0.098412,0.949162,2017-07-25 15:00:28,AG_AM03WRT (2017-07-24)AGGREGATE,2017-07-25 15:00:28,AM02,EX- jogging,LA- stand and move,unknown,...,1,0,2021-05-11 08:00:28,A-2,2017-07-25 08:00:00,mixed-activity,walking light,mixed-activity,EX-run,EX
4,0.244950,-0.489200,-0.874900,2017-07-25 15:00:29,AG_AM02WRT (2017-07-19)AGGREGATE,2017-07-25 15:00:29,AM02,EX- jogging,LA- stand and move,unknown,...,1,0,2021-05-11 08:00:29,A-2,2017-07-25 08:00:00,mixed-activity,walking light,mixed-activity,EX-run,EX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13173,0.465862,0.674600,0.403475,2017-10-13 17:49:28,AG_AM16WRT (2017-10-06)AGGREGATE,2017-10-13 17:49:28,AM15,WRK- screen basedentary - Education and Health...,SB-sitting,typing,...,1,0,2021-05-11 10:49:28,W-15,2017-10-13 10:49:00,sit/stand,sit/lie,sit/lie,WRK-screen,WRK
13174,0.977350,-0.116325,-0.357138,2017-10-13 17:49:29,AG_AM15WRT (2017-10-09)AGGREGATE,2017-10-13 17:49:29,AM15,WRK- screen basedentary - Education and Health...,SB-sitting,typing,...,1,0,2021-05-11 10:49:29,W-15,2017-10-13 10:49:00,sit/stand,sit/lie,sit/lie,WRK-screen,WRK
13175,0.537150,0.738313,0.591200,2017-10-13 17:49:29,AG_AM16WRT (2017-10-06)AGGREGATE,2017-10-13 17:49:29,AM15,WRK- screen basedentary - Education and Health...,SB-sitting,typing,...,1,0,2021-05-11 10:49:29,W-15,2017-10-13 10:49:00,sit/stand,sit/lie,sit/lie,WRK-screen,WRK
13176,0.954037,-0.120450,-0.423363,2017-10-13 17:49:30,AG_AM15WRT (2017-10-09)AGGREGATE,2017-10-13 17:49:30,AM15,WRK- screen basedentary - Education and Health...,SB-sitting,typing,...,1,0,2021-05-11 10:49:30,W-15,2017-10-13 10:49:00,sit/stand,sit/lie,sit/lie,WRK-screen,WRK
13177,0.232100,1.187213,-0.155812,2017-10-13 17:49:30,AG_AM16WRT (2017-10-06)AGGREGATE,2017-10-13 17:49:30,AM15,WRK- screen basedentary - Education and Health...,SB-sitting,typing,...,1,0,2021-05-11 10:49:30,W-15,2017-10-13 10:49:00,sit/stand,sit/lie,sit/lie,WRK-screen,WRK

In [22]:
new_dfs = []
for df in all_dfs:
#     df.drop("file", axis=1, inplace=True)
    merged_df = df.merge(groundtruth, how = "inner", left_on = "actual_datetime", right_on = "time")
    #Adding new variables
    merged_df["magnitude_of_change_X"] = merged_df["Accelerometer X"].diff().fillna(0)
    merged_df["magnitude_of_change_Y"] = merged_df["Accelerometer Y"].diff().fillna(0)
    merged_df["magnitude_of_change_Z"] = merged_df["Accelerometer Z"].diff().fillna(0)
    merged_df["time_diff_seconds"] = (merged_df["time"] - merged_df["time"].shift()).dt.total_seconds().fillna(1).astype(int)
    
    merged_df["year"] = merged_df["time"].dt.year
    merged_df["month"] = merged_df["time"].dt.month
    merged_df["day_of_week"] = merged_df["time"].dt.dayofweek
    merged_df["day"] = merged_df["time"].dt.day
    merged_df["hour"] = merged_df["time"].dt.hour
    merged_df["minute"] = merged_df["time"].dt.minute
    merged_df["second"] = merged_df["time"].dt.second
    
    new_dfs.append(merged_df)

In [23]:
output_dir = "E:/Data/Monitor Data/data_frames/"

for i in range(len(new_dfs)):
    new_dfs[i].to_csv(output_dir + locations[i] + ".csv", index=False)